body {
  overflow-x: initial !important;
}
.holdBorder{
  border: solid 7px;
  border-color: #17a5ff;
  margin: 0 0;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
img {
  margin-bottom: 0 !important;
}

// Blue #003bd3
// semi-blue #16edff
// light #17a5ff